<h1 class="text-3xl font-bold underline">
  You seem to have taken a wrong turn
</h1>
<section>
  <p>Something has gone wrong. Please check the url you are using is spelled correctly.</p>
  <p>Try using the navigation to find a valid page.</p>
</section>
